{% extends "base.html" %}

{% block page_title %}Blog posts | {% endblock %}

{% block page_content %}

<table>
    <tr>
        <td>
            <form action="{% url 'nuevo_post' %}" method="post">
                {% csrf_token %}
                <div>
                    <h4>¿Nuevo post?</h4>
                    <input type="text" name="post_content" maxlength="140" required>
                    <input type="submit" value="¡Postear!">
                </div>
            </form>
        </td>

        <td width="400" />

        <td>
            <form action="{% url 'buscar' %}" method="post">
                {% csrf_token %}
                <div>
                    <h4>¿Buscas un post?</h4>
                    <input type="text" name="busqueda" maxlength="140" required>
                    <input type="submit" value="¡Buscar!">
                </div>
            </form>
        </td>

        <td width="400" />

        <td>
            <form action="{% url 'reposts' %}" method="post">
                {% csrf_token %}
                <div>
                    <h4>¿Posts reposteados?</h4>
                    <input type="submit" value="¡Buscar!">
                </div>
            </form>
        </td>

    </tr>
</table>

<h1>Posts</h1>
<ul>
    {% if post_list %}
        <table>
            {% for post in post_list %}
                <tr>
                    <td>{{ post }}</td>

                    <td>
                        {% if not post.repost %}
                        <form action="{% url 'repost' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="submit" value="¡Repost!">
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <li>No hay nada que mostrar. ¡Intenta seguir más gente!</li>
    {% endif %}

</ul>
{% endblock %}