{% extends "base.html" %}

{% block page_title %}Perfil | {% endblock %}

{% block page_content %}

<h1> Nanoblogs </h1>
<table width="100%">
{% for usuario in usuarios %}

            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                {% if user.is_authenticated %}
                <td>
                    <form action="{% url 'suscribir' %}">
                        {% csrf_token %}
                        <input type="hidden" name="follow" value="{{ usuario.username }}">
                        <input type="submit" value="¡Suscribirse!">
                    </form>
                </td>
                {% endif %}
            </tr>
{% endfor %}
        <a type="button" href="{% url 'login_nano' %}" class="btn btn-primary">Iniciar sesión</a>
{% endblock %}