{% extends "base.html" %}

{% block page_title %}{{ accion }} | {% endblock %}

{% block page_content %}
<h1>{{ accion }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit">{{ accion }}</button>
    </form>
{% endblock %}