{% extends "base.html" %}

{% block page_title %}Perfil | {% endblock %}

{% block page_content %}
<h1> Ver Perfil </h1>
<table width="100%">
    <tr>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.first_name }}</td>
        <td>{{ usuario.last_name }}</td>
        <td>
            <a href="{% url 'modificar_usuario' %}">Editar</a>
        </td>
    </tr>
{% endblock %}